@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');
header {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    width: 100%;
    height: 85%;
    background-color: #f1f1f1;
}

.small-header {
    height: auto;
}

.title-container {
    padding: 1rem;
    display: flex;
    padding-left: 5%;
    padding-right: 5%;
    box-sizing: border-box;
    align-items: center;
    justify-content: space-between;
    flex-wrap: nowrap;
}

.google-container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: nowrap;
    width: 30%;
}

.logo {
    font-family: "century gothic";
    font-size: 2rem;
    font-weight: 400;
}

.svg-logo {
    width: 50px;
    height: 50px;
    margin-bottom: -15px;
}

.svg-logout {
    width: 35px;
    height: 35px;
    padding: 5px;
    margin-bottom: 5px;
}

.svg-cart {
    width: 35px;
    height: 35px;
    padding: 5px;
    margin-bottom: 5px;
}

.svg-wallet {
    width: 35px;
    height: 35px;
    padding: 5px;
    margin-bottom: 5px;
}

.description-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;
}

.description-container h1 {
     font-family:"century gothic";
}
.description-container p {
    font-family:"century gothic";
    display: block;
}

.description-right img {
    width: 250px;
    height: 350px;
}