@import './main.css';

.section-description {
    display: flex;
    width: 100%;
    height: auto;
    background-color: var(--header-background);
}

.description-left, .description-right {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: start;
    /* background-color: salmon; */
}.description-left p {
    text-align: justify;
    font-size: 1rem;
    max-width: 50%;
}

.store-title {
    font-size: 1.75rem;
    color: var(--color-purple);
    letter-spacing: 1.5px;
}

.description-left{
    height: 100%;
    /* background-color: red; */
}
.description-left-text {
    margin-left: 10%;
    height: 100%;
    width: 95%;
    /* background-color: saddlebrown; */
}

.description-right {
    align-items: flex-end;
}.description-right img {
    width: 88%;
}

/* .featured-container {
    width: 100%;
} */