@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

:root {
    --main-font-color: #424242;
    --header-background: #f1f1f1;
    --color-purple: #4c1568;
}

body, html {
    font-family: 'Open Sans', sans-serif;

    padding: 0;
    margin: 0;
    height: 100%;
    background-color:#E6E6E6;
    color: var(--main-font-color);
    font-size: .9rem;
}

.abcRioButton {
    box-shadow: none !important;
    background-color: var(--header-background) !important;
}
