.section-text {
  width: 100%;
  display: flex;
  padding: 1rem 0;
  font-size: 1.2rem;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.section-text hr {
  width: 5%;
  margin: 0;
  border-radius: 30px;
  border: 3px solid var(--color-purple);
}

.container-products {
  /* width: 50%; */
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  /* padding: 5rem; */
  /* background-color: #ccc; */
}

.phone-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30%;
  padding-top: 5%;
  /* background-color: #ccc; */
}

.img-product, 
.img-product-popular {
  width: 30%;
  margin: 0;
  padding: 0;
  /* background-color: red; */
}

.img-product-popular {
  width: 60%;
}

.product-card-name {
  margin: 0 0 5px 0;
  font-size: 1.4rem;
  color: var(--color-purple2);
  text-align: center;
  border-radius: 20px;
}

.star-rating {
  width: 100%;
  text-align: center;
}

.checked {
  color: orange;
}

.product-btns {
  display: flex;
  width: 50%;
  justify-content: space-between;
  /* background-color: red; */
}

.product-price, .add_btn {
  width: 100%;
  text-align: center;
}

.product-btns a {
  font-size: .8rem;
  /* color: var(--main-font-color); */
  text-decoration: none;
  color: #ffffff;
  text-align: center;
}

.product-btn {
  width: 45%;
  padding: 3px;
  background-color: var(--color-purple2);
  /* border: 1px solid var(--color-purple); */
  border-radius: 5px;
}

.featured-container {
  display: flex;
  justify-content: space-evenly;
}

/* BAINAS DE LAS OTRAS TARJETAS */

/* .product-card {
  margin-top: 3%;
  width: 20%;
  background-color: var(--header-background);
  box-shadow: 3px 3px 3px #ccc;
  border-radius: 15px;

  display: flex;
  flex-direction: column;
}

.card-container {
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.product-card img {
  margin-top: 10px;
  width: 215px;
}.product-card-name {
  padding: 1px 0;
  color: var(--color-purple2);
  text-align: center;
  border-radius: 20px;
}.card-details {
  background-color: var(--color-purple2);
  display: flex;
  align-items: center;
  justify-content: center;
  border-top: 3px solid var(--background-color);
  border-radius: 0 0 15px 15px;
  padding: 1rem;
}.card-details a {
  font-size: 1rem;
  color: #FFFFFF;
  text-decoration: none;
}.card-details img {
  width: 12px;
}

.checked {
  color: orange;
} */