.container-products {
    /* width: 100%;
    height: 60%; */
    padding: .5%;
    background-color: cornflowerblue;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

body{
    margin:0;
    padding:0;
}


  /* Inicia CSS Cards */

  .container-products{
      padding: .5%;
      background-color: gray;
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      
  }

  div.card_img {
    border-radius: 12px;
    max-width: 300px;
    min-width: 300px;
    width: 80%;
    background-color: white;
    /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
    margin-bottom: 25px;
    transition: 0.5s;
    margin: 1%;
  }

  div.card_img:hover{
    transform: scale(1.05);
    transition: 0.5s;
  }

  img{
      max-width: 100%;
      border-radius: 12px;
  }

  .img-modal{
    max-height: 600px;
    max-width:100%;
  }
  
  div.card_text {
    text-align: center;
    padding: 10px 20px;
  }

  .add_btn{
      border-radius: 8px;
      background-color: red;
      color: white;
      font-size: 16px;
      padding: 14px 40px;
  }

  .add_btn:hover{
    background-color: rgb(253, 97, 97);
  }

  .add_btn:active{
      background-color: rgb(119, 2, 2);
  }

  /* Termina CSS Cards */

  /* Inicia CSS Modal */
  body {font-family: Arial, Helvetica, sans-serif;}

  /* The Modal (background) */
  .modal {
    
    display: none; /* Hidden by default */
    position: fixed; /*Stay in place*/
    z-index: 1; /* Sit on top */
    padding-top: 3%; /* Location of the box */
    left: 0;
    top: 0;
    width:100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    
   
  }

  .modal-body {
    display: grid;
    grid-template-columns: 1.2fr 1.1fr;
    grid-template-rows: 0.5fr 0.5fr 2.4fr 0.8fr 0.8fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "modal-image modal-brand"
      "modal-image modal-productName"
      "modal-image modal-description"
      "modal-image modal-price"
      "modal-image modal-button";
    width: 100%;
    height: 71.4%;
    /* border: solid 2px rgb(255, 0, 0); */
  }
  
  .modal-productImage { 
    grid-area: modal-image;
    /* border: solid 2px rgb(0, 0, 0); */
  }
  
  .modal-productBrand { 
    font-family:"century gothic";
    font-size: large;
    grid-area: modal-brand;
    /* border: solid 2px black; */
    display:flex;
    /* justify-content: center; */
    align-items:flex-end; 
    padding-right: 10%;
    padding-left: 1%;
  }
  
  .modal-productName { 
    font-family:"century gothic";
    font-size: xx-large;
    font-weight: bold;
    grid-area: modal-productName;
    /* border: solid 2px black;  */
    display:flex;
    /* justify-content: center; */
    align-items: center; 
    padding-right: 10%;
    padding-left: 1%;
  }
  
  .modal-productDescription { 
    font-family:"century gothic";
    font-size:16pt;
    grid-area: modal-description;
    /* border: solid 2px black; */
    display:flex; 
    text-align: justify;
    padding-right: 10%;
    padding-left: 1%;
    padding-top: 2%;
  }
  
  .modal-productPrice { 
    font-family:"georgia";
    font-size: 26pt;
    font-weight: bold;
    grid-area: modal-price;
    /* border: solid 2px black; */
    display:flex;
    align-items: baseline; 
    justify-content: center;
    padding-right: 10%;
    padding-left: 1%;
  }
  
  .modal-addToCartButton { 
    grid-area: modal-button;
    /* border: solid 2px rgb(158, 156, 156);  */
    display:flex;
    align-items:baseline; 
    justify-content: center;
    padding-right: 10%;
    padding-left: 1%;
  }

  .btn-modal {
    display: inline-block;
    padding: 15px 25px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;	
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #4CAF50;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
  }

  .btn-modal:hover {background-color: #3e8e41}

  .btn-modal:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
  }
  

  
  /* Modal Content */
  .modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 70%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
  }
  
  /* Add Animation */
  @-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1}
  }
  
  @keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
  }
  
  /* The Close Button */
  .close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }
  
  .modal-header {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
  }
  
  

  
  .modal-footer {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
  }
  /* Termina CSS Modal  */