section {
    display: flex;
    height: 88%;
    /* background-color: crimson; */
}

.main-container {
    width: 50%;
    height: 100%;
    /* background-color: cornflowerblue; */
}

.paypal-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 100%;
    /* background-color: sandybrown; */
}

#smart-button-container {
    width: 65%;
    /* background-color: rebeccapurple; */
}

#paypal-button-container {
    width: 100%;
    /* background-color: royalblue; */
}