/*
======================
Cart Area
======================
*/
.cart__area {
    padding-bottom: 5rem;
  }
  
  .cart__form {
    display: block;
  }
  
  .product__thumbnail img {
    width: 10rem;
    height: 15rem;
    object-fit: contain;
  }
  
  .remove__cart-item svg {
    width: 1.6rem;
    height: 1.6rem;
    fill: var(--grey2);
    transition: all 0.3s ease-in-out;
  }
  
  .cart__table {
    display: block;
    width: 100%;
    margin-bottom: 4rem;
    overflow-x: auto;
  }
  
  .cart__table .table {
    border-collapse: collapse;
    width: 100%;
    max-width: 150rem;
  }
  
  .cart__table .table th {
    font-weight: 500;
    font-style: 2rem;
    text-align: left;
    padding: 1.8rem 0;
  }
  
  .cart__table .table td {
    vertical-align: middle;
    padding: 1.8rem 0;
    white-space: nowrap;
    border-bottom: 1px solid var(--primaryColor);
  }
  
  .cart__table .table thead {
    border-bottom: 1px solid var(--primaryColor);
  }
  
  .product__name a:link,
  .product__name a:visited {
    font-size: 1.5rem;
    color: var(--black2);
  }
  
  .product__name small {
    color: var(--grey);
    margin-top: 1.6rem;
  }
  
  .product__subtotal .price {
    display: inline;
  }
  
  .product__subtotal .price .new__price,
  .product__price .price .new__price {
    font-size: 1.6rem;
  }
  
  .remove__cart-item {
    margin-left: 1rem;
  }
  
  .remove__cart-item:hover svg {
    fill: var(--orange);
  }
  
  .cart-btns {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid var(--primaryColor);
    padding-bottom: 4rem;
    margin: 3rem 0;
  }
  
  .continue__shopping a:link,
  .continue__shopping a:visited {
    font-size: 1.5rem;
    padding: 1.2rem 3rem;
    color: var(--black);
    text-transform: uppercase;
    border: 1px solid var(--black);
    transition: all 0.4s ease-in-out;
  }
  
  .continue__shopping a:hover {
    background-color: var(--black);
    color: var(--white);
    border: 1px solid var(--black);
  }
  
  .cart__totals {
    width: 60rem;
    /* height: 30rem; */
    margin: 5rem auto 0 auto;
    color: var(--black5);
    padding: 4rem 5rem;
    background-color: rgba(255, 255, 255, 0.8);
    box-shadow: 0px 2px 30px 10px rgba(0, 0, 0, 0.09);
    border-radius: 0.5rem;
  }
  
  .cart__totals h3 {
    font-weight: 500;
    font-size: 1.8rem;
    margin-bottom: 1.6rem;
  }
  
  .cart__totals .new__price {
    font-size: 1.5rem;
  }
  
  .cart__totals ul {
    margin-bottom: 2.5rem;
  }
  
  .cart__totals li {
    border: 1px solid var(--primaryColor);
    padding: 1.4rem 0.5rem;
    position: relative;
  }
  
  .cart__totals li:not(:last-child) {
    border-bottom-color: transparent;
  }
  
  .cart__totals li span {
    position: absolute;
    right: 1rem;
  }
  
  .cart__totals a:link,
  .cart__totals a:visited {
    font-size: 1.5rem;
    padding: 1.2rem 3rem;
    color: var(--black);
    text-transform: uppercase;
    border: 1px solid var(--black);
    transition: all 0.4s ease-in-out;
  }
  
  .cart__totals a:hover {
    background-color: var(--black);
    color: var(--white);
    border: 1px solid var(--black);
  }
  /*
  ======================
  Cart Area Media Query
  ======================
  */
  
  @media only screen and (max-width: 1200px) {
    .minus-btn,
    .plus-btn {
      padding: 0.6rem 0.8rem;
      margin-right: 0;
    }
  
    .counter-btn {
      width: 4rem;
      padding: 1rem 0;
    }
  
    .input-counter svg {
      width: 1.5rem;
      height: 1.5rem;
    }
  }
    